In [10]:
%reload_ext sql
%sql sqlite:///Project.db

u'Connected: @Project.db'

In [11]:
#Query 1
%sql SELECT COUNT(*) FROM USERS;

 * sqlite:///Project.db
Done.

[(13422,)]

In [12]:
#Query 2
%sql SELECT COUNT(*) FROM USERS WHERE USERS.LOCATION = "New York";

 * sqlite:///Project.db
Done.

[(80,)]

In [13]:
%%sql
WITH CATEGORY_COUNT(COUNT) AS 
(SELECT COUNT(CATEGORY) 
FROM CATEGORIES
GROUP BY ITEMID)

SELECT COUNT(*) 
FROM CATEGORY_COUNT 
WHERE CATEGORY_COUNT.COUNT = 4;

 * sqlite:///Project.db
Done.

[(8365,)]

In [14]:
%%sql 
SELECT ITEMID 
FROM ITEMS 
WHERE CURRENTLY = (SELECT MAX(CURRENTLY) FROM ITEMS);

 * sqlite:///Project.db
Done.

[(1046871451,)]

In [15]:
%%sql
WITH SELLERS(ID) AS 
(SELECT DISTINCT(USERID) 
 FROM SELLS)

SELECT COUNT(*) 
FROM USERS, SELLERS
WHERE RATING > 1000 AND LOCATION IS NOT NULL AND COUNTRY IS NOT NULL AND USERS.UserID = SELLERS.ID;

 * sqlite:///Project.db
Done.

[(3130,)]

In [16]:
%%sql
WITH DISTINCT_SELLERS(ID) AS 
(SELECT DISTINCT(USERID) 
FROM SELLS),

DISTINCT_BIDDERS(ID) AS 
(SELECT DISTINCT(USERID) 
FROM BIDS)

SELECT COUNT(*) 
FROM DISTINCT_SELLERS, DISTINCT_BIDDERS
WHERE DISTINCT_SELLERS.ID = DISTINCT_BIDDERS.ID;

 * sqlite:///Project.db
Done.

[(6717,)]

In [17]:
%%sql
WITH DISTINCT_ITEMIDS(ID) AS 
(SELECT DISTINCT(ITEMID) 
FROM BIDS WHERE BIDS.AMOUNT > 100)

SELECT COUNT(DISTINCT(CATEGORY))
FROM CATEGORIES, DISTINCT_ITEMIDS
WHERE DISTINCT_ITEMIDS.ID = CATEGORIES.ITEMID;

 * sqlite:///Project.db
Done.

[(150,)]